# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Model & artifacts
model/
*.joblib
*.pkl
*.h5
*.pt

# Dataset
*.csv
*.parquet
data/

# Notebook
.ipynb

# Git
.git
.gitignore

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/